*{
    font-family: 'EB Garamond', serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
.row h2{
    font-size: 56px;
}
#phonenum span{
    font-size: 10px;
}
.logo img{
    height: 150px;
    width: 260px;
    border-radius: 10px;
}
.navigation{
    background-color: white;
    font-size: 24px;
}
.collapse ul li{
    padding-left: 10px;
    padding-right: 10px;
}
.collapse ul li:hover{
    background-color: rgb(28,196,224);
    border-radius: 10px;
}
.home li a{
    color: rgb(28,196,224);
}
.our-fleet ul li{
    padding: 0px;
}
.our-fleet ul li a:hover{
    background-color: rgb(28,196,224);
}
.our-services ul li{
    padding: 0px;
}
.our-services ul li a:hover{
    background-color: rgb(28,196,224);
}
.promo-offers ul li{
    padding: 0px;
}
.promo-offers ul li a:hover{
    background-color: rgb(28,196,224);
}
video{
    height: 100%;
    width: 90%;
}
.balols{
    margin: 150px 200px 0px 200px;
    padding-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.244);
    border-radius: 10px;
    position: absolute;
    color: white;
}
.balols h1{
    font-size: 100px;
    letter-spacing: 20px;
}
.balols p{
    font-size: 20px;
}
.extras{
    background-color: rgb(28,196,224);
    padding: 10px;
}
.extras .card{
    padding: 5px;
    background-color: transparent;
    border: 0px;
}
.extras .card p{
    font-size: 14px;
}
.featured .card{
    box-shadow: 0px 0px 5px 5px lightgray;
    height: 100%;
}
.featured .card img{
    height: 100%;
    width: 100%;
}
.featured .card ul li{
    list-style-type: circle;
}
.fb-page .card{
    background-image: url(bin/backgorund.jpg);
}
.fb-page .card img{
    height: 100%;
    width: 100%;
}
.whatfor .card{
    box-shadow: 0px 0px 5px 5px lightgray;
    height: 100%;
}
.whatfor .card img{
    height: 100%;
    width: 100%;
}
.why-balols .card{
    box-shadow: 0px 0px 5px 5px lightgray;
    height: 100%;
}
.why-balols .card img{
    height: 100%;
    width: 100%;
}
.faq button{
    width: 70%;
    font-size: 18px;
}
.faq .faqtext{
    width: 70%;
    font-size: 14px;
}
.footer{
    height: 100%;
}
.footer-1{
    background-color: rgb(28,196,224);
}
.footer-1 .card{
    background-color: transparent;
    border: 0px;
    padding: 14px;
}
.footer-1 span{
    font-size: 18px;
    padding-bottom: 1rem;
}
.footer-1 a{
    font-size: 16px;
}
.footer-2{
    background-color: black;
    height: 100%;
    padding: 10px;
}
.footer-2 .card{
    width: 100%;
    background-color: transparent;
    border: 0px;
}
.footer-2 .footer-logo img{
    height: 150px;
    width: 170px;
    background-color: transparent;
    border-radius: 10px;
}
.footer-2 ul li{
    list-style: none;
}