*{
    font-family: 'EB Garamond', serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
.row h2{
    font-size: 56px;
}
#phonenum span{
    font-size: 10px;
}
.logo img{
    height: 150px;
    width: 260px;
    border-radius: 10px;
}
.navigation{
    background-color: white;
    font-size: 24px;
}
.collapse ul li{
    padding-left: 10px;
    padding-right: 10px;
}
.collapse ul li:hover{
    background-color: rgb(28,196,224);
    border-radius: 10px;
}
.our-fleet ul li{
    padding: 0px;
}
.our-fleet ul li a:hover{
    background-color: rgb(28,196,224);
}
.our-services ul li{
    padding: 0px;
}
.our-services ul li a:hover{
    background-color: rgb(28,196,224);
}
.promo-offers ul li{
    padding: 0px;
}
.promo-offers ul li a:hover{
    background-color: rgb(28,196,224);
}




.footer{
    height: 100%;
}
.footer-1{
    background-color: rgb(28,196,224);
}
.footer-1 .card{
    background-color: transparent;
    border: 0px;
    padding: 14px;
}
.footer-1 span{
    font-size: 18px;
    padding-bottom: 1rem;
}
.footer-1 a{
    font-size: 16px;
}
.footer-2{
    background-color: black;
    height: 100%;
    padding: 10px;
}
.footer-2 .card{
    width: 100%;
    background-color: transparent;
    border: 0px;
}
.footer-2 .footer-logo img{
    height: 150px;
    width: 170px;
    background-color: transparent;
    border-radius: 10px;
}
.footer-2 ul li{
    list-style: none;
}